{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Closed Listings</h2>

    {% for listing in listings %}

        <div class="card mb-3" style="width: auto; margin: 10px 10px 10px 10px; ">
            <div class="row g-0">
                <div class="col-md-2">
                {% if listing.auction_images.all %}
                    {% for image in listing.auction_images.all  %}
                    {% if forloop.first %}
                    <img width="180" height="180" style="object-fit: contain; padding: 5% 5% 5% 5%; vertical-align: middle;" src="{{ image.image.url }}" class="img-fluid rounded-start justify-content-center d-flex align-items-center" alt="" >
                    {% endif %}
                    {% endfor %}
                {% endif %}
                </div>
                <div class="col-md-10">
                     <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'auctions:listing_item' listing.id %}" style="color:black">{{ listing }}</a></h5>
                        {% if listing.highest_bid %}
                        <p class="card-text"><p class="text-muted">Price: <strong>${{ listing.highest_bid }}</strong></p></p>
                        {% else %}
                        <p class="card-text"><p class="text-muted">Price: <strong>${{ listing.starting_bid }}</strong></p></p>
                        {% endif %}
                        <p class="card-text"><small class="text-muted">Created: {{ listing.date_created }}</small></p>
                    </div>
                 </div>
            </div>
        </div>

    {% endfor %}


{% endblock %}
